# Node modules
node_modules/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Build outputs
dist/
build/

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/

# Other
*.log